body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #26001b;
}

.top-containter {
  background-color: #f3f4ed;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin-top: 100px;
}

.bottom-container {
  background-color: #5aa897;
  padding: 50px 0 0;
}

.profile {
  width: 70%;
  margin: 0 auto;
}

.shelters {
  width: 60%;
  margin: 0 auto;
  line-height: 2;
  margin:100px auto 100px auto;
}

.shelter-noah {
  margin-top: 100px;
  text-align: left;
}

.shelter-nuca {
  margin-top: 100px;
  text-align: left;
}

.shelter-happypets {
  margin: 100px 0 150px 0;
  text-align: left;
}

.imgralu {
  border-radius: 100%;
  width: 20%;
}

.imgnoa {
  margin: 0 20px 20px 0;
  width: 20%;
  border-radius: 100%;
  float: left;
}

.imgnuca {
  margin: 0 0 0 20px;
  width: 20%;
  border-radius: 100%;
  float: right;
}

.imghappypets {
  border: 2px solid #81b214;
  margin: 0 20px 0 0;
  width: 20%;
  border-radius: 100%;
  float: left;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  color: #5aa897;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 2.5rem;
  color: #5aa897;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #206a5d;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2;
}


hr{
  border-style: none;
  border-top: dotted;
  border-color: #dbf6e9;
  border-width: 8px;
  width: 5%
}
.subtitle {
  font-size: 2.5rem;
  color: #5aa897;
  font-family: 'Merriweather', serif;
  font-weight: normal;
}

.lover {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.btn {
  border-radius: 5%;
}

.contact-me {
  width: 50%;
  margin: 100px auto 100px auto;
}

.btn {
  background: #257365;
  background-image: -webkit-linear-gradient(top, #257365, #206a5d);
  background-image: -moz-linear-gradient(top, #257365, #206a5d);
  background-image: -ms-linear-gradient(top, #257365, #206a5d);
  background-image: -o-linear-gradient(top, #257365, #206a5d);
  background-image: linear-gradient(to bottom, #257365, #206a5d);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #EAF6F6;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #5aa897 2px;
  text-decoration: none;
}

.btn:hover {
  background: #63b09e;
  background-image: -webkit-linear-gradient(top, #63b09e, #5aa897);
  background-image: -moz-linear-gradient(top, #63b09e, #5aa897);
  background-image: -ms-linear-gradient(top, #63b09e, #5aa897);
  background-image: -o-linear-gradient(top, #63b09e, #5aa897);
  background-image: linear-gradient(to bottom, #63b09e, #5aa897);
  text-decoration: none;
}

.contact-details {
  margin: 50px 0 50px 0;
}

.cr {
  color: #EAF6F6;
  margin: 40px 0 0;
  padding: 0 0 40px 0;
  font-size: 0.75rem;
}

a {
  color: #206a5d;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 5px 10px;
}
a:hover{
  color: #EAF6F6;
}
.profile{
  width: 70%;
  margin-bottom: 100px;
}
